 <!DOCTYPE html>

<html>
  <head>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type = "text/javascript">
  google.charts.load('current', {'packages':['line', 'corechart']});
     google.charts.setOnLoadCallback(drawChart);

   function drawChart() {


     var chartDiv = document.getElementById('chart_div');

     var data = new google.visualization.DataTable();
     data.addColumn('date', 'Month');
     data.addColumn('number', "Closing Stock Price");
     data.addColumn('number', "Polarity");


      {%for key,value in stockdata.items()%}
        var date = "{{key}}"
        date = date.split("-");
        console.log(date[1]);
        data.addRow([new Date(Number(date[0]),Number(date[1])-1,Number(date[2])), {{value}}, 0]);
        {% endfor %}

     var materialOptions = {
       chart: {
         title: 'Equity Price History for {{company}}'
       },
       width: 900,
       height: 500,
       series: {
         // Gives each series an axis name that matches the Y-axis below.
         0: {axis: 'Closting Stock Price'},
         1: {axis: 'Polarity'}
       },
       axes: {
         // Adds labels to each axis; they don't have to match the axis names.
         y: {
           Temps: {label: 'Closing Stock Price'},
           Daylight: {label: 'Polarity'}
         }
       }
     };


     function drawMaterialChart() {
       var materialChart = new google.charts.Line(chartDiv);
       materialChart.draw(data, materialOptions);
     }

     drawMaterialChart();

   }

   </script>
   </head>
   <body>
     <div id="chart_div"></div>
     </body>
  </html>

